<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="extension">
        <!--<header class="text-center">
            <i class="iconfont icon-tool"></i>欢迎使用instashop专属前端工具箱
        </header>
        <div class="divider"></div>
        <div class="wrapper">
            <div class="form-input-group">
                <label for="">调试版本</label>
                <input v-model="debug_env" type="text" maxlength="5" />
                <button v-on:click="applyDebugEnv">应用</button>
            </div>
        </div>
        <div class="divider"></div>
        <footer class="text-center">
            码の开森~码の快乐~
        </footer>-->
    </div>
</body>
</html>